/*Define color palette variables*/

$darkblue: rgb(20, 56, 82);
$mediumblue:rgb(51,161,189);
$cream:rgb(255,255,204);
$gold:rgb(255,207,69);
$backgroundgold:rgba(255,207,69,0.25);
$brown:rgb(99,62,28);
$grey:rgb(183,191,201);
$lightblue:rgb(195,219,244);

/*Global*/
html{
 width:100%;
}

body {
 width:100%;
 font-family: 'Raleway', sans-serif;
 /*background-image: url(../img/background-paper.png);*/
 
}
.dark-text{
    color:$darkblue;
}
.light-text {
    color:$grey;
}
.script-text{
    font-family: 'Great Vibes', cursive;
  }
  
.yellow-text{
    color:$gold;
  }
  
/*Navbar*/

.navbar{
    background-color:$darkblue;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler {
    color:$gold;
}

.navbar-brand:hover,
.nav-link:hover{
    color:$gold;
}

.nav-item:hover,
.navbar-brand:hover{
    background-color:$mediumblue;
}

.navbar-brand{
padding:5px;
}

/*Home Hero Section*/
#hero {
  margin:56px auto 0;
  padding:0;
  width:100%;
  height:auto;
  position:relative;
}

#home-hero-img{
  width:100%;
}

#hero-logo{
  position:absolute;
  top:3%;
  left:3%;
  padding:0 5px 5px;
  border-radius:5px;

}

.logo-title-text{
  margin:0 auto;
  font-size:8vw;
}

.logo-sub-text{
  font-size:5vw;
  margin-top:-5px;
}

/*Home About Section*/

#about{
  background-color:$backgroundgold;
  border-bottom:1px solid $darkblue;
  padding-bottom: 25px;
  height:auto;
  scroll-margin-top:56px;
}

/*Home Services*/
#services{
  background-color:$backgroundgold;
  scroll-margin-top:56px;
}

/*Home Reviews*/
#reviews{
    background:$backgroundgold;
    border-bottom:1px solid $darkblue;
    border-top:1px solid $darkblue;
    padding-bottom: 25px;
    height:auto;
    scroll-margin-top:56px;
  }
.carousel-inner{
  width:100%;
  height:100%;
}

/*Global Modal Styles*/
.modal-content {
 background-image: url(../img/background-paper.png);
}

.modal{
  background:rgba(33, 37, 41, 0.7);
}


/*Footer*/
#footer{
    background-color:$darkblue;
}


.sm-icons{
  font-size:2vw;
}

#modal-form-title{
  font-size:32px;
  margin:15px auto;
}

.modal-form-label{
  font-size:24px;
  margin:10px 0;
}

