/*Global*/
html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.dark-text {
  color: #143852;
}

.script-text {
  font-family: "Great Vibes", cursive;
}

.yellow-text {
  color: #ffcf45;
}

.body-text {
  font-size: 20px;
  color: #143852;
}

.title-text {
  font-size: 4rem;
}

.active-menu-link {
  background-color: rgba(51, 161, 189, 0.75);
}

/*Navbar*/
.navbar {
  background-color: #143852;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler {
  color: #ffcf45;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #c3dbf4;
}

.nav-item:hover,
.navbar-brand:hover {
  color: #c3dbf4;
}

.navbar-brand {
  padding: 5px;
}

.navbar-toggler-icon,
.navbar-toggler,
.toggler-button,
.collapsed {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #143852;
}

/*Home Jumbotron*/
#hero {
  margin: 56px auto 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
}

#home-hero-img {
  width: 100%;
}

#hero-logo {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 0 5px 5px;
}

.logo-title-text {
  margin: 0 auto;
  font-size: 8vw;
}

.logo-sub-text {
  font-size: 4.75vw;
  margin-top: -5px;
  padding-top: 0;
}

/*Home About Section*/
#about {
  padding-bottom: 25px;
  height: auto;
}

#self-pic {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
  border: 1px solid #143852;
}

#lead {
  font-weight: 700;
  font-size: 2.2rem;
}

/*Home Services*/
#services {
  background-color: #c3dbf4;
  height: auto;
  border-bottom: 1px solid #143852;
  border-top: 1px solid #143852;
}

#menu-link-btn {
  background-color: #143852;
  color: #ffcf45;
}

#menu-link-btn:hover {
  color: #c3dbf4;
  text-decoration: none;
}

.services-subtitle {
  font-size: 2rem;
}

/*Home Reviews*/
#reviews {
  padding-bottom: 25px;
  height: 600px;
}

.control {
  display: none;
}

.carousel-inner {
  width: 100%;
}

.review-quote {
  font-size: 22px;
}

.quote-attribute {
  font-size: 28px;
}

.fa-quote-left {
  font-size: 30px;
}

.review-btn {
  background-color: #143852;
  color: #ffcf45;
}

.review-btn:hover {
  color: #c3dbf4;
}

.modal-review-title,
.modal-review-attribute {
  font-size: 28px;
}

.review-modal-close-btn {
  background-color: #143852;
  color: #ffcf45;
}

.review-modal-close-btn:hover {
  color: #c3dbf4;
}

/*Global Modal Styles*/
.modal-content {
  background-color: #c3dbf4;
  color: #143852;
}

.modal {
  background: rgba(33, 37, 41, 0.7);
}

/*Footer*/
#footer {
  background-color: #143852;
}

.footer-text {
  font-size: 20px;
}

.footer-button {
  background-color: #ffcf45;
  color: #143852;
}

.footer-button:hover {
  background-color: #c3dbf4;
  text-decoration: none;
}

.sm-icons {
  font-size: 40px;
}

.sm-icons:hover {
  color: #c3dbf4;
}

.phone-number {
  font-family: "Roboto", sans-serif;
  color: #ffcf45;
}

.phone-number:hover {
  color: #c3dbf4;
  text-decoration: none;
}

.dev-link:hover {
  color: #c3dbf4;
  text-decoration: none;
}

/*MENU PAGE*/
#hero,
#menu-top,
#app-menu,
#meal-menu,
#dessert-menu {
  border-bottom: 1px solid rgba(20, 56, 82, 0.4);
}

#menu-top,
#app-menu,
#meal-menu,
#dessert-menu {
  padding-bottom: 30px;
}

#menu-hero-logo {
  position: absolute;
  bottom: 1%;
  right: 3%;
}

.menu-logo-title-text {
  margin: 0 auto;
  font-size: 8vw;
}

.menu-logo-sub-text {
  font-size: 5vw;
  margin-top: -5px;
}

#menu-title {
  font-size: 3.5rem;
}

.menu-section-title {
  font-size: 3rem;
}

.menu-explained {
  font-size: 20px;
}

.menu-item-title {
  background-color: #143852;
  color: #ffcf45;
  margin: 0;
}

.app-menu-item {
  background-color: rgba(195, 219, 244, 0.25);
}

.app-choices {
  padding: 20px;
}

.app-menu-included {
  background-color: #c3dbf4;
  padding: 20px;
}

.meal-menu-item {
  background-color: rgba(195, 219, 244, 0.25);
}

.menu-included {
  padding: 20px;
}

/*GALLERY PAGE*/
#gallery-title {
  font-size: 5rem;
}

.gallery-close-modal-button {
  background-color: #143852;
  color: #ffcf45;
}

.gallery-close-modal-button:hover {
  color: #c3dbf4;
}

/*CONTACT PAGE*/
#contact-content {
  background-color: #c3dbf4;
  border-bottom: 1px solid #143852;
  border-top: 1px solid #143852;
}

#contact-page-headline {
  font-size: 4rem;
  margin: 20px auto;
}

.form-label {
  font-size: 1.75rem;
  margin: 10px 0;
}

.form-submit-btn {
  background-color: #143852;
  color: #ffcf45;
}

.form-submit-btn:hover {
  color: #c3dbf4;
}

/*THANK YOU PAGE*/
#thank-you-note {
  background-color: #c3dbf4;
}

#thank-you-headline {
  font-size: 4rem;
}

.thank-you-text {
  font-size: 1.5rem;
}

#close-thank-you-button:hover {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
