/*Define color palette variables*/
/*Global*/
html {
  width: 100%;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  /*background-image: url(../img/background-paper.png);*/
}

.dark-text {
  color: #143852;
}

.light-text {
  color: #ffffcc;
}

.script-text {
  font-family: 'Great Vibes', cursive;
}

.yellow-text {
  color: #ffcf45;
}

.body-text {
  font-size: 20px;
  color: #143852;
}

.title-text {
  font-size: 4rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.active-menu-link {
  background-color: rgba(51, 161, 189, 0.75);
}

/*Navbar*/
.navbar {
  background-color: #143852;
}

.navbar-brand,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler {
  color: #ffcf45;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ffcf45;
}

.nav-item:hover,
.navbar-brand:hover {
  background-color: rgba(51, 161, 189, 0.75);
}

.navbar-brand {
  padding: 5px;
}

/*Home Hero Section*/
#hero {
  margin: 56px auto 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
}

#home-hero-img {
  width: 100%;
}

#hero-logo {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 0 5px 5px;
}

.logo-title-text {
  margin: 0 auto;
  font-size: 8vw;
}

.logo-sub-text {
  font-size: 4.75vw;
  margin-top: -5px;
  padding-top: 0;
}

/*Home About Section*/
#about {
  border-bottom: 1px solid #143852;
  border-top: 1px solid #143852;
  padding-bottom: 25px;
  height: auto;
  /*scroll-margin-top:54px;*/
}

/*Home Services*/
#services {
  background-color: #c3dbf4;
  /*scroll-margin-top:55px;*/
  height: auto;
}

#menu-link-btn {
  background-color: #143852;
  color: #c3dbf4;
}

#menu-link-btn:hover {
  color: #c3dbf4;
}

/*Home Reviews*/
#reviews {
  border-bottom: 1px solid #143852;
  border-top: 1px solid #143852;
  padding-bottom: 25px;
  height: 800px;
}

.carousel-inner {
  width: 100%;
}

.review-quote {
  font-size: 22px;
}

.quote-attribute {
  font-size: 28px;
}

.carousel-control {
  color: #143852;
  font-size: 30px;
}

.review-btn {
  background-color: #143852;
  color: #c3dbf4;
}

.review-btn:hover {
  color: lightblue;
}

.modal-review-title,
.modal-review-attribute {
  font-size: 28px;
}

.review-modal-close-btn {
  background-color: #143852;
  color: #c3dbf4;
}

.review-modal-close-btn:hover {
  color: lightblue;
}

/*Global Modal Styles*/
.modal-content {
  background-color: #c3dbf4;
  color: #143852;
}

.modal {
  background: rgba(33, 37, 41, 0.7);
}

/*Footer*/
#footer {
  background-color: #143852;
  height: 100vh;
}

.footer-text {
  font-size: 20px;
}

#footer-button {
  background-color: #ffcf45;
  color: #143852;
}

.sm-icons {
  font-size: 40px;
}

.sm-icons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#modal-form-title {
  font-size: 32px;
}

.modal-form-label {
  font-size: 24px;
  margin: 10px 0;
}

.form-modal-submit-btn {
  background-color: #143852;
  color: #c3dbf4;
}

.form-modal-submit-btn:hover {
  color: lightblue;
}

#hero,
#menu-top,
#app-menu,
#meal-menu,
#dessert-menu {
  border-bottom: 1px solid rgba(20, 56, 82, 0.4);
}

#menu-top,
#app-menu,
#meal-menu,
#dessert-menu {
  padding-bottom: 30px;
}

#menu-hero-logo {
  position: absolute;
  bottom: 1%;
  right: 3%;
}

.menu-logo-title-text {
  margin: 0 auto;
  font-size: 8vw;
}

.menu-logo-sub-text {
  font-size: 5vw;
  margin-top: -5px;
}

#menu-title {
  font-size: 3.5rem;
}

.menu-section-title {
  font-size: 3rem;
}

.menu-item-title {
  background-color: #143852;
  color: #c3dbf4;
  margin: 0;
}

.app-menu-item {
  background-color: rgba(195, 219, 244, 0.25);
}

.app-choices {
  padding: 20px;
}

.app-menu-included {
  background-color: #c3dbf4;
  padding: 20px;
}

.meal-menu-item {
  background-color: rgba(195, 219, 244, 0.25);
}

.menu-included {
  padding: 20px;
}

/*
#gallery-body {
  background-color:$backgroundgold;
}*/
#gallery-title {
  font-size: 5rem;
}

.gallery-close-modal-button {
  background-color: #143852;
  color: #ffcf45;
}

.gallery-close-modal-button:hover {
  color: #ffcf45;
}

#contact-content {
  background-color: #c3dbf4;
  border-bottom: 1px solid #143852;
  border-top: 1px solid #143852;
}

#contact-page-headline {
  font-size: 4rem;
  margin: 20px auto;
}
/*# sourceMappingURL=main.css.map */